
<div class="row">

  <!-- Settings widget -->
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2>Quick Settings</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <ul class="quick-list">
            <li><i class="fa fa-calendar-o"></i><a href="#">Settings</a>
            </li>
            <li><i class="fa fa-bars"></i><a href="#">Subscription</a>
            </li>
            <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
            <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
            </li>
            <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
            <li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
            </li>
            <li><i class="fa fa-area-chart"></i><a href="#">Logout</a>
            </li>
          </ul>

          <div class="sidebar-widget">
            <h4>Profile Completion</h4>
            <canvas width="150" height="80" id="foo" class="" style="width: 160px; height: 100px;"></canvas>
            <div class="goal-wrapper">
              <span id="gauge-text" class="gauge-value pull-left">0</span>
              <span class="gauge-value pull-left">%</span>
              <span id="goal-text" class="goal-value pull-right">100%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Settngs Widget -->

  <!-- Start to do list -->
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>To Do List <small>Sample tasks</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div class="">
          <ul class="to_do">
            <li>
              <p>
                <input type="checkbox" class="flat"> Schedule meeting with new client </p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Create email address for new intern</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Have IT fix the network printer</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Copy backups to offsite location</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
            </li>
            <li>
              <p>
                <input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End to do list -->

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Find a Tutor <small>Sample tasks</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div class="tutor-buttons">
          <button type="button" class="btn btn-info btn-lg">Match Me With A Tutor</button>
          <button type="button" class="btn btn-success btn-lg">See All Tutors</button>
        </div>
      </div>
    </div>
  </div>

<!--

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Daily active users <small>Sessions</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div class="bs-example" data-example-id="simple-jumbotron">
          <div class="jumbotron">
            <h1>Next Meeting Date:</h1>
            <h2>Monday, September 11, 2001:</h2>
            <h2>10:20 A.M.</h2>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </div>

-->



</div>

<div class="row">

  <!-- Top Profiles -->
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Top Tutors</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="overflow: auto;">
        <ul class="list-unstyled top_profiles scroll-view">
          <li class="media event">
            <a class="pull-left border-aero profile_thumb">
              <i class="fa fa-user aero"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">Ms. Mary Jane</a>
              <p><strong>$2300. </strong> Agent Avarage Sales </p>
              <p> <small>12 Sales Today</small>
              </p>
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-green profile_thumb">
              <i class="fa fa-user green"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">Ms. Mary Jane</a>
              <p><strong>$2300. </strong> Agent Avarage Sales </p>
              <p> <small>12 Sales Today</small>
              </p>
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-blue profile_thumb">
              <i class="fa fa-user blue"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">Ms. Mary Jane</a>
              <p><strong>$2300. </strong> Agent Avarage Sales </p>
              <p> <small>12 Sales Today</small>
              </p>
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-aero profile_thumb">
              <i class="fa fa-user aero"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">Ms. Mary Jane</a>
              <p><strong>$2300. </strong> Agent Avarage Sales </p>
              <p> <small>12 Sales Today</small>
              </p>
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-green profile_thumb">
              <i class="fa fa-user green"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">Ms. Mary Jane</a>
              <p><strong>$2300. </strong> Agent Avarage Sales </p>
              <p> <small>12 Sales Today</small>
              </p>
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-green profile_thumb">
              <i class="fa fa-user green"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">Ms. Mary Jane</a>
              <p><strong>$2300. </strong> Agent Avarage Sales </p>
              <p> <small>12 Sales Today</small>
              </p>
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-green profile_thumb">
              <i class="fa fa-user green"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">Ms. Mary Jane</a>
              <p><strong>$2300. </strong> Agent Avarage Sales </p>
              <p> <small>12 Sales Today</small>
              </p>
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-green profile_thumb">
              <i class="fa fa-user green"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">Ms. Mary Jane</a>
              <p><strong>$2300. </strong> Agent Avarage Sales </p>
              <p> <small>12 Sales Today</small>
              </p>
            </div>
          </li>
          <li class="media event">
            <a class="pull-left border-green profile_thumb">
              <i class="fa fa-user green"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">Ms. Mary Jane</a>
              <p><strong>$2300. </strong> Agent Avarage Sales </p>
              <p> <small>12 Sales Today</small>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Top Profiles -->

  <!-- Skills Chart -->
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Radar Chart <small>Sessions</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <canvas id="canvasRadar"></canvas>
      </div>
    </div>
  </div>
  <!-- End Skills Chart -->



</div>
