
<div class="row top_tiles">
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
      <div class="count">179</div>
      <h3>Total Mentors</h3>
      <p>Lorem ipsum psdea itgum rixt.</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-comments-o"></i></div>
      <div class="count">16</div>
      <h3>Different Universities</h3>
      <p>Lorem ipsum psdea itgum rixt.</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
      <div class="count">560</div>
      <h3>Total Mentees</h3>
      <p>Lorem ipsum psdea itgum rixt.</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-check-square-o"></i></div>
      <div class="count">9.9</div>
      <h3>Average Review</h3>
      <p>Lorem ipsum psdea itgum rixt.</p>
    </div>
  </div>
</div>

<div class="row">

  <!-- Settings widget -->
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>My Profile</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <ul class="quick-list">
            <li><i class="fa fa-calendar-o"></i><a href="#">Account Settings</a>
            </li>
            <li><i class="fa fa-calendar-o"></i><a href="#">View/Edit My Profile</a>
            </li>
            <li><i class="fa fa-calendar-o"></i><a href="#">My Payments</a>
            </li>
            <li><i class="fa fa-area-chart"></i><a href="#">Logout</a>
            </li>
          </ul>

          <div class="sidebar-widget">
            <h4>Profile Completion</h4>
            <canvas width="150" height="80" id="foo" class="" style="width: 160px; height: 100px;"></canvas>
            <div class="goal-wrapper">
              <span id="gauge-text" class="gauge-value pull-left">0</span>
              <span class="gauge-value pull-left">%</span>
              <span id="goal-text" class="goal-value pull-right">100%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Settngs Widget -->

  <!-- Upcoming Sessions -->
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Upcoming Sessions</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="overflow: auto;">
        <ul class="list-unstyled top_profiles scroll-view">
          <% if (user.upcomingSessions.length > 0) { %>
          <li class="media event">
            <a class="pull-left border-aero profile_thumb">
              <i class="fa fa-user aero"></i>
            </a>
            <div class="media-body">
              <a class="title" href="#">Ms. Mary Jane</a>
              <p><strong>$2300. </strong> Agent Avarage Sales </p>
              <p> <small>12 Sales Today</small>
              </p>
            </div>
          </li>
          <% } else { %>
          <p><strong>You Have No Upcoming Sessions</strong></p>
          <% } %>

        </ul>
      </div>
    </div>
  </div>
  <!-- End Upcoming Sessions -->

  <!-- Naviagations -->
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Navigation</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <div class="tutor-buttons">
          <button type="button" class="btn btn-success btn-lg" id="btn-listmentors">Choose A Mentor</button>
          <button type="button" class="btn btn-info btn-lg" disabled>See My Mentors</button>
          <button type="button" class="btn btn-primary btn-lg" disabled>Leave a Review</button>
          <button type="button" class="btn btn-dark btn-lg" disabled>Help</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Navigations -->


</div>
