<div class="col-md-4 col-sm-4 col-xs-12 profile_details" hidden>
  <div class="well profile_view">
    <div class="col-sm-12">
      <div class="left col-xs-7">
        <h2><%= mentor.profile.first_name + ' ' + mentor.profile.last_name %></h2>
        <p><strong>About: </strong> </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-institution"></i> <%= mentor.profile.curr_school %> </li>
          <li><i class="fa fa-book"></i> <%= mentor.profile.curr_major %> </li>
        </ul>
      </div>
      <div class="right col-xs-5 text-center">
        <img src="images/user.png" alt="" class="img-circle img-responsive">
      </div>
    </div>
    <div class="col-xs-12 bottom text-center">
      <div class="col-xs-12 col-sm-6 emphasis">
        <p class="ratings">
          <a>4.0</a>
          <a href="#"><span class="fa fa-star"></span></a>
          <a href="#"><span class="fa fa-star"></span></a>
          <a href="#"><span class="fa fa-star"></span></a>
          <a href="#"><span class="fa fa-star"></span></a>
          <a href="#"><span class="fa fa-star-o"></span></a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 emphasis">
        <button type="button" class="btn btn-success btn-xs message">
          <i class="fa fa-user"></i> Message
        </button>
        <button type="button" class="btn btn-primary btn-xs details" userId = <%= mentor._id %> >
          <i class="fa fa-user"></i> Profile
        </button>
      </div>
    </div>
  </div>
</div>
