<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/meta', {pageTitle: 'List All Mentors'}); %>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- timePicker -->
    <link href="vendor/timepicker/timepicker.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="vendor/gentelella/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- left navigation -->
        <%- include('./partials/left_nav', {user: user}); %>
        <!-- /left navigation -->

        <!-- top navigation -->
        <%- include('./partials/top_nav', {user: user}); %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Book a Mentoring Session</h3>
              </div>

              <div class="title_right">
                  <div class="input-group pull-right">
                    <a type="button" href="/dashboard" class="btn btn-round btn-default">Back</a>
                  </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>My Availablity</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="form" method="POST" action="/availability" class="form-horizontal form-label-left" novalidate>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Monday <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="1" class="hasTimePicker form-control col-md-7 col-xs-12" name="mondayStartTime"  placeholder="Start Time" type="text">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="2" class="hasTimePicker form-control col-md-7 col-xs-12" name="mondayEndTime"  placeholder="End Time" type="text">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Tuesday <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="3" class="hasTimePicker form-control col-md-7 col-xs-12" name="tuesdayStartTime"  placeholder="Start Time" type="text">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="4" class="hasTimePicker form-control col-md-7 col-xs-12" name="tuesdayEndTime"  placeholder="End Time" type="text">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Wednesday <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="5" class="hasTimePicker form-control col-md-7 col-xs-12" name="wednesdayStartTime"  placeholder="Start Time" type="text">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="6" class="hasTimePicker form-control col-md-7 col-xs-12" name="wednesdayEndTime"  placeholder="End Time" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Thursday <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="7" class="hasTimePicker form-control col-md-7 col-xs-12" name="thursdayStartTime"  placeholder="Start Time" type="text">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="8" class="hasTimePicker form-control col-md-7 col-xs-12" name="thursdayEndTime"  placeholder="End Time" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Friday <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="9" class="hasTimePicker form-control col-md-7 col-xs-12" name="fridayStartTime"  placeholder="Start Time" type="text">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="10" class="hasTimePicker form-control col-md-7 col-xs-12" name="fridayEndTime"  placeholder="End Time" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Saturday <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="11" class="hasTimePicker form-control col-md-7 col-xs-12" name="saturdayStartTime"  placeholder="Start Time" type="text">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="12" class="hasTimePicker form-control col-md-7 col-xs-12" name="saturdayEndTime"  placeholder="End Time" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Sunday <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="13" class="hasTimePicker form-control col-md-7 col-xs-12" name="sundayStartTime"  placeholder="Start Time" type="text">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input id="14" class="hasTimePicker form-control col-md-7 col-xs-12" name="sundayEndTime"  placeholder="End Time" type="text">
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Update Availability</button>
                            <a id='cancel' type="button" href = '/dashboard' class="btn btn-danger">Back</a>
                        </div>
                      </div>


                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <%- include('./partials/footer'); %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="vendor/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="vendor/nprogress/nprogress.js"></script>
    <!-- Bootpag -->
    <script src="vendor/bootpag/jquery.bootpag.min.js"></script>
    <!-- Select2 -->
    <script src="vendor/select2/dist/js/select2.full.min.js"></script>
    <!-- validator -->
    <script src="vendor/validator/validator.min.js"></script>
    <!-- jQuery UI -->
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <!-- TimePicker -->
    <script src="vendor/timepicker/timepicker.min.js"></script>
    <!-- Moment.js -->
    <script src="vendor/moment/moment.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="vendor/gentelella/js/custom.min.js"></script>

    <!-- Timepicker -->
    <script>
      $(document).ready(function() {
        var timepicker = new TimePicker(
          ['#1','#2','#3','#4','#5','#6','#7','#8','#9','#10','#11',"#12",'#13',"#14"],
        {
          theme: 'dark',
          lang: 'en'
        });
        timepicker.on('change', function(evt){
          var value = (evt.hour || '00') + ':' + (evt.minute || '00');
          evt.element.value = value;
        });

        $( "input" ).keydown(function(e) {
           e.preventDefault();
           return false;
        });
      });
    </script>
    <!-- Timepicker -->

    <!-- validator -->
    <script>

      // initialize the validator function
      validator.message.date = 'not a real date';

      $('form').submit(function(e) {

        var submit = true;


        $('.item').each(function() {
          var startPicker = $(this).find('input[name*="Start"]');
          var endPicker = $(this).find('input[name*="End"]');

          if (!startPicker.val() && !endPicker.val())
            return;
          if (!startPicker.val() || !endPicker.val()) {
            console.log(startPicker.val());
            console.log(endPicker.val());
            validator.mark(startPicker,"Missing Input!");
            submit = false;
            return false;
          }
          var startTime = startPicker.val().split(':');
          startTime = (+startTime[0]) * 60 + (+startTime[1]);

          var endTime = endPicker.val().split(':');
          endTime = (+endTime[0]) * 60 + (+endTime[1]);



          if (startTime > endTime) {
            validator.mark(startPicker,"Invalid Time Range!");
            submit = false;
          } else if (endTime - startTime < 30) {
            validator.mark(startPicker,"Shorter Than 30 Mins!");
            submit = false;
          } else if (endTime - startTime > 240) {
            validator.mark(startPicker,"Longer Than 4 Hours!");
            submit = false;
          }

        });

        if ( submit ) {
          $(this).submit();
        }
        return false;
      });

    </script>
    <!-- /validator -->

]
  </body>
</html>
