<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<title>MemtorMap</title>

		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

		<!-- google fonts -->
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:500,300'  type='text/css'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans'  type='text/css'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>

		<!-- css -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css" media="screen"/>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.js"></script>
		<![endif]-->

		<!--[if IE 8]>
	    	<script src="js/selectivizr.js"></script>
	    <![endif]-->
	</head>

	<body>
    <div id="root"></div>

		<div id="wrapper">


			<div class="content-block parallax" id="services">
				<div class="container services-sec">
					<div class="title-page">
						<p class="main-header">Our Services </p>
					    <p class="sub-header">A little about what we do</p>
					</div>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-send-o"></i>
									</div>
									<h2 class="service-head">Illustration</h2>
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-heart-o"></i>
									</div>
									<h2 class="service-head">3D Modeling</h2>
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-camera-retro"></i>
									</div>
									<h2 class="service-head">Photography</h2>
									<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #services -->









		</div>




		<script src="js/jquery-2.1.3.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/jquery.actual.min.js"></script>
		<script src="js/jquery.scrollTo.min.js"></script>
		<script src="js/contact.js"></script>
		<script src="js/script.js"></script>
    <script src="js/bundle.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($){

		  	$(window).scroll(function() {

				if ($(window).scrollTop() > 100 ){

		 		$('.top-header').addClass('shows');

		  		} else {

		   	 	$('.top-header').removeClass('shows');

		 		};
			});

		  });

		jQuery('.scroll').on('click', function(e){
				e.preventDefault()

		  jQuery('html, body').animate({
		      scrollTop : jQuery(this.hash).offset().top
		    }, 1500);
		});


		</script>


	</body>
</html>
