<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MentorMap - Complete Registration</title>

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Dropzone.js -->
    <link href="vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="dashboard/css/custom.min.css" rel="stylesheet">
    <link href="dashboard/css/overrides.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>MentorMap</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2 id="user-full-name"></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />
            <br />
            <br />
            <br />
            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3 id="user-role" style="padding-left: 17px;"></h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Dashboard</a></li>
                      <li><a href="index2.html">Dashboard2</a></li>
                      <li><a href="index3.html">Dashboard3</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">Level One</a>
                        <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#level1_2">Level One</a>
                        </li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav class="" role="navigation">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/img.jpg" alt="">
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- complete profile -->
          <div class="complete-registration">

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Complete Registration<small>You must complete registration to start mentor matching</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                    <p>This wizard will walk you through the sign up process.</p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Step 1<br />
                                              <small>Personal Profile</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Step 2<br />
                                              <small>Academic Information</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">4</span>
                            <span class="step_descr">
                                              Step 3<br />
                                              <small>Additional Information</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-4">
                            <span class="step_no">5</span>
                            <span class="step_descr">
                                              Step 4<br />
                                              <small>Terms of Service</small>
                                          </span>
                          </a>
                        </li>
                      </ul>
                      <div id="step-1">
                        <h2 class="StepTitle">Step 1 - Personal Profile</h2>
                        <p>Just for our information</p>
                        <form id="form-step-1" method="post" action="/mentee-complete" class="form-horizontal form-label-left">

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                              <input type="text" class="form-control col-md-7 col-xs-12 has-feedback-left" name="first_name" id="first-name" required="required" placeholder="e.g. John">
                              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                              <input type="text" class="form-control col-md-7 col-xs-12 has-feedback-left" name="last_name" id="last-name" required="required" placeholder="e.g. Doe">
                              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                              <input id="email" type="email" name="email" class="form-control col-md-7 col-xs-12 has-feedback-left" required="required" placeholder="e.g. example@host.com">
                              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Confirm Email <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                              <input id="email2" type="email" class="form-control col-md-7 col-xs-12 has-feedback-left" required="required" placeholder="e.g. example@host.com">
                              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <span style="padding-right: 2px;">Male:</span><input type="radio" class="flat" name="gender" id="genderM" value="male"/>
                                <span style="padding: 0px 5px;">Female:</span><input type="radio" class="flat" name="gender" id="genderF" value="female" style="padding-right: 5px"/>
                                <span style="padding: 0px 5px;">Other:</span><input type="radio" class="flat" name="gender" id="genderF" value="other" style="padding-right: 5px"/>
                                <span style="padding: 0px 5px;">Prefer Not to Disclose:</span><input type="radio" class="flat" name="gender" id="genderF" value="na" style="padding-right: 5px"/>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone Number <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                              <input id="phone" name="phone" class="form-control col-md-7 col-xs-12 has-feedback-left" placeholder="e.g. (999) 999-9999" data-inputmask="'mask' : '(999) 999-9999'" required="required" type="text">
                              <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">High School <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                              <input id="school" name="high_school" class="form-control col-md-7 col-xs-12 has-feedback-left" required="required" type="text" placeholder="e.g. Bayview Secondary School">
                              <span class="fa fa-institution form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Grade <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <select class="select2_single form-control" tabindex="-1" name="grade">
                                <option></option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                                <option value=11>11</option>
                                <option value=12>12</option>
                                <option value=13>13</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Linkedin &nbsp
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                              <input id="linkedin" name="linkedin" class="form-control col-md-7 col-xs-12 has-feedback-left" placeholder="e.g. www.example.com" required="required" type="text">
                              <span class="fa fa-linkedin form-control-feedback left" aria-hidden="true"></span>
                            </div>
                          </div>

                        </form>

                      </div>
                      <div id="step-2">
                        <h2 class="StepTitle">Step 2 - Academic Information</h2>
                        <p>Let us get to know you better</p>
                        <form id="form-step-2" class="form-horizontal form-label-left">

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Your Grade 11 Average <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                              <div class="radio">
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="4" id="optionsRadios1" name="avg_11"> 100%-95%
                                </label>
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="3" id="optionsRadios2" name="avg-11"> 94%-90%
                                </label>
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="2" id="optionsRadios2" name="avg_11"> 89%-85%
                                </label>
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="1" id="optionsRadios2" name="avg-11"> 84%-75%
                                </label>
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="0" id="optionsRadios2" name="avg_11"> Below 75%
                                </label>
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="-1" id="optionsRadios2" name="avg_11"> N/A
                                </label>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Your Grade 12 Average <span class="required">*</span></label>

                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                              <div class="radio">
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="4" id="optionsRadios1" name="avg_12"> 100%-95%
                                </label>
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="3" id="optionsRadios2" name="avg_12"> 94%-90%
                                </label>
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="2" id="optionsRadios2" name="avg_12"> 89%-85%
                                </label>
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="1" id="optionsRadios2" name="avg_12"> 84%-75%
                                </label>
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="0" id="optionsRadios2" name="avg_12"> Below 75%
                                </label>
                                <label style="padding-right: 10px;">
                                  <input type="radio" value="-1" id="optionsRadios2" name="avg_12"> N/A
                                </label>
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">You Are Enrolled In <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-feedback">
                              <div class="checkbox">
                                  <input type="checkbox" class="flat" name="high_school_programs[AP]"> AP (Advanced Placement)
                              </div>
                              <div class="checkbox">
                                  <input type="checkbox" class="flat" name="high_school_programs[IB]"> IB (International Baccalaureate)
                              </div>
                              <div class="checkbox">
                                  <input type="checkbox" class="flat" name="high_school_programs[TOPS]"> TOPS (Talented Offerings for Programs in the Sciences)
                              </div>
                              <div class="checkbox">
                                  <input type="checkbox" class="flat" name="high_school_programs[ESL]"> ESL (English as a Second Language)
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Your Skills And Extracurriculars</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="tags_1" type="text" class="tags form-control" name="skills" />
                              <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Preferred Post Secondary Institutions</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <select class="select2_multiple_3 form-control" multiple="multiple" name="preferred_school">
                                <option>Choose an Option</option>
                                <option value="University of Waterloo">University of Waterloo</option>
                                <option value="University of Toronto">University of Toronto</option>
                                <option value="University of Western Ontario">University of Western Ontario</option>
                                <option value="University of British Columbia">University of British Columbia</option>
                                <option value="York University">York University</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Preferred Major Fields of Study</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <select class="select2_multiple_2 form-control" multiple="multiple" name="preferred_program">
                                <option>Choose an Option</option>
                                <option value="University of Western Ontario">Medicine and Health Sciences</option>
                                <option value="University of British Columbia">Computer Science</option>
                                <option value="York University">Engineering and Applied Sciences</option>
                                <option value="University of Waterloo">Mathematics and Physics</option>
                                <option value="University of Waterloo">Accounting, Finance and Financial Mathematics</option>
                                <option value="York University">Business, Economics and Commerce</option>
                                <option value="University of Toronto">Arts and Humanities</option>
                                <option value="York University">Natural Sciences (Biology, Chemistry, Earth and Space)</option>
                                <option value="York University">Political Science, Law and Societal Studies</option>
                                <option value="York University">Social Sciences (Psychology, Sociology, Nutrition Science)</option>
                              </select>
                            </div>
                          </div>



                        </form>
                      </div>
                      <div id="step-3">
                        <h2 class="StepTitle">Step 3 Additional Information</h2>
                        <p>Provide us with some more information to help us better match you with a suitable mentor</p>
                        <form id="form-step-3" class="form-horizontal form-label-left">

                          <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <label class="control-label" for="textarea">What are you looking for in a mentor?</label>
                              <textarea id="additional-info1" name="paragraph[0]" class="form-control col-md-7 col-xs-12" required="required"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <label class="control-label" for="textarea">Tell us more about your future goals.</label>
                              <textarea id="additional-info2" name="paragraph[1]" class="form-control col-md-7 col-xs-12" required="required"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <label class="control-label" for="textarea">What Motivated You to Look For a Mentor?</label>
                              <textarea id="additional-info2" name="paragraph[2]" class="form-control col-md-7 col-xs-12" required="required"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                              <label class="control-label" for="textarea">Feel Free to Tell Us Anything Else. </label>
                              <textarea id="additional-info3" name="paragraph[3]" class="form-control col-md-7 col-xs-12" required="required"></textarea>
                            </div>
                          </div>
                        </form>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <label class="control-label" for="textarea">Drop Us Your Resume If You Have One</label>
                          <form action="form_upload.html" class="dropzone"></form>
                        </div>
                      </div>
                      <div id="step-4">
                        <h2 class="StepTitle">Step 4 Terms of Service</h2>
                        <h2>The MIT License</h2>
                        <p>Copyright 2017 MentorMap</p>
                        <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software
                          and associated documentation files (the "Software"), to deal in the Software without restriction,
                          including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
                          and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
                          subject to the following conditions:
                        </p>
                        <p>The above copyright notice and this permission notice shall be included in all copies or substantial
                          portions of the Software.</p>
                        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
                          LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
                          IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
                          WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE
                          OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
                      </div>

                    </div>
                    <!-- End SmartWizard Content -->





                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end complete profile -->
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            MentorMap - By Joshua Sun and Bill Qi <a href="">MentorMap</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- Save EJS var to local -->
    <script>
      var user = <%- JSON.stringify(user) %>;
    </script>

    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="vendors/fastclick/lib/fastclick.js"></script>
    <!-- iCheck -->
    <script src="vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="vendors/moment/moment.min.js"></script>
    <script src="vendors/datepicker/daterangepicker.js"></script>
    <!-- Select2 -->
    <script src="vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Dropzone.js -->
    <script src="vendors/dropzone/dist/min/dropzone.min.js"></script>
    <!-- validator -->
    <script src="vendors/validator/validator.min.js"></script>
    <!-- jQuery Smart Wizard -->
    <script src="vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- jquery.inputmask -->
    <script src="vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- jQuery Tags Input -->
    <script src="vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="dashboard/js/custom.min.js"></script>
    <script src="dashboard/js/custom2.js"></script>

    <!-- Select2 -->
    <script>
      $(document).ready(function() {
        $(".select2_single").select2({
          placeholder: "Choose One...",
          allowClear: true
        });
        $(".select2_multiple_2").select2({
          maximumSelectionLength: 2,
          placeholder: "Choose up to 2",
          allowClear: true
        });
        $(".select2_multiple_3").select2({
          maximumSelectionLength: 3,
          placeholder: "Choose up to 3",
          allowClear: true
        });
      });
    </script>
    <!-- /Select2 -->

    <!-- jquery.inputmask -->
    <script>
      $(document).ready(function() {
        $(":input").inputmask();
      });
    </script>
    <!-- /jquery.inputmask -->

    <!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {

        var cb = function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        };

        var optionSet1 = {
          startDate: moment().subtract(29, 'days'),
          endDate: moment(),
          minDate: '01/01/2012',
          maxDate: '12/31/2015',
          dateLimit: {
            days: 60
          },
          showDropdowns: true,
          showWeekNumbers: true,
          timePicker: false,
          timePickerIncrement: 1,
          timePicker12Hour: true,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          opens: 'left',
          buttonClasses: ['btn btn-default'],
          applyClass: 'btn-small btn-primary',
          cancelClass: 'btn-small',
          format: 'MM/DD/YYYY',
          separator: ' to ',
          locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
          }
        };
        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
        $('#reportrange').daterangepicker(optionSet1, cb);
        $('#reportrange').on('show.daterangepicker', function() {
          console.log("show event fired");
        });
        $('#reportrange').on('hide.daterangepicker', function() {
          console.log("hide event fired");
        });
        $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
          console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
        });
        $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
          console.log("cancel event fired");
        });
        $('#options1').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
        });
        $('#options2').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
        });
        $('#destroy').click(function() {
          $('#reportrange').data('daterangepicker').remove();
        });
      });
    </script>
    <!-- /bootstrap-daterangepicker -->

    <!-- validator -->
    <script>
    /*
      console.log(validator);
      // initialize the validator function
      validator.message.date = 'not a real date';

      // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
      $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        //.on('keypress', 'input[required][pattern]', validator.keypress);

      $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
      });


      $('form').submit(function(e) {
        e.preventDefault();
        var submit = true;

        // evaluate the form using generic validaing

        if (!validator.checkAll($(this))) {
          submit = false;
        }


        if (submit)
          this.submit();

        return false;
      });
      */
    </script>
    <!-- /validator -->

    <script>
      $('#form-step-1').submit(function(e) {
        $('#form-step-2 :input, #form-step-2 textarea, #form-step-2 select').clone().hide().appendTo('#form-step-1');
        $('#form-step-3 :input, #form-step-3 textarea, #form-step-3 select').clone().hide().appendTo('#form-step-1');
        //e.preventDefault();
      });
    </script>


    <!-- jQuery Tags Input -->
    <script>
      function onAddTag(tag) {
        alert("Added a tag: " + tag);
      }

      function onRemoveTag(tag) {
        alert("Removed a tag: " + tag);
      }

      function onChangeTag(input, tag) {
        alert("Changed a tag: " + tag);
      }

      $(document).ready(function() {
        $('#tags_1').tagsInput({
          width: 'auto'
        });
      });
    </script>
    <!-- /jQuery Tags Input -->

    <!-- jQuery Smart Wizard -->
    <script>
      $(document).ready(function() {
        $('#wizard').smartWizard({
          onFinish: function() {
            $('#form-step-1').submit();
          }
        });

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');
      });
    </script>
    <!-- /jQuery Smart Wizard -->
  </body>
</html>
