<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MentorMap - Dashboard</title>

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="dashboard/css/custom.min.css" rel="stylesheet">

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        <!-- left navigation -->
        <%- include('./partials/left_nav', {user: user}); %>
        <!-- /left navigation -->

        <!-- top navigation -->
        <%- include('./partials/top_nav', {user: user}); %>
        <!-- /top navigation -->

        <!-- page content -->
        <% if (user.role==='mentee') { %>
          <%- include('./partials/mentee_dashboard_content', {user: user}); %>
        <% } else { %>
          <%- include('./partials/mentor_dashboard_content', {user: user}); %>
        <% } %>

        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            MentorMap - By Joshua Sun and Bill Qi <a href="">MentorMap</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="vendors/fastclick/lib/fastclick.js"></script>
    <!-- iCheck -->
    <script src="vendors/iCheck/icheck.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="dashboard/js/custom.min.js"></script>


  </body>
</html>
