/* /////////////////////////////////////////////////////////////////////
// Global
/////////////////////////////////////////////////////////////////////*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  overflow-y: scroll;
}

body {
  color: #6a6a6a;
  font-family: "Lato", sans-serif;
}

p {
  margin: 0 0 20px 0;
}

img {
  max-width: 100%;
}

a {
  color: #4da7ca;
  text-decoration: none;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s;
}

a:hover {
  color: #4290ae;
}

h1, h2, h3, h4, h5, h6 {
  color: #3A4F52;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

h5 {
  color: rgba(56, 66, 78, 0.5);
  font-size: 3rem;
  line-height: 1.875;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.title-page h5 {
  font-size: 2.2rem;
  margin-bottom: 0;
}

::selection {
  background-color: #475B6F;
  color: #fff;
}

.btn {
  border-radius: 0;
}

.btn-o {
  border: 1px solid #3A4F52;
  color: #3A4F52;
}

.btn-o:hover {
  background: #3A4F52;
  color: white;
}

.btn.btn-o-white {
  border: 1px solid white;
  color: white;
  background: transparent;
}

.btn.btn-o-white:hover {
  background: white !important;
  color: #6a6a6a;
}

.title-page {
  display: block-heading;
  text-align: center;
  margin-bottom: -20px;
}

p.main-header {
  font-size: 27px;
  font-weight: 500;
}

p.main-header:after {
  content: " ";
  font-size: 27px;
  font-weight: 500;
}

p.sub-header {
  font-size: 27px;
  font-weight: 100;
  margin-left: 10px;
}

p.sub-header:before {
  content: " ||| ";
  font-size: 27px;
  font-weight: 300;
}

li {
  list-style: none;
}

header.block-heading {
  text-align: center;
  display: block;
  padding-bottom: 40px;
}
