/*////////////////////////////////////////////////////////////////////////
// Header
///////////////////////////////////////////////////////////////////////*/
header p {
  color: rgba(0, 0, 0, 0.45);
}

header.top-header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.shows {
  background: #14171c;
  transition: all .6s;
}

.shows .navbar-default {
  /* background-color: #f8f8f8; */
  /* border-color: #e7e7e7; */
  margin-bottom: 10px;
  transition: all .6s;
}

.shows .navbar-nav {
  float: none;
  margin: 15px 0 0;
  color: white;
}

.shows h1.logo {
  margin-top: 0px;
  color: #FF0077;
}

.h1, h1 {
  font-size: 48px;
}

h1.logo {
  margin-top: 11px;
  color: #FF0077;
  display: inline-flex;
}

.secondary-slogan h5 {
  color: #05bca9;
}

#header {
  position: relative;
  text-align: center;
  padding: 0 !important;
}

.navbar-nav {
  margin: 31px 0 0;
  color: white;
  display: inline-block;
  text-align: center;
}

.centerNav {
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
}

#header .top {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
  height: auto;
  z-index: 500;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header .top.solid {
  background: #475B6F;
  padding-top: 15px;
  padding-bottom: 15px;
}

#header .top h1 {
  margin-bottom: 0;
}

#header .top.solid .toggleDrawer i {
  padding-top: 8px;
}

#header .logo, #header .toggleDrawer {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.logo-head {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.logo:hover {
  text-decoration: none;
}

#header .slogan {
  font-size: 5em;
  margin-bottom: 15px;
  line-height: 1em;
  color: white;
  font-weight: bold;
}

#header .button {
  border-color: #FFFFFF;
  color: #FFFFFF;
  height: 6.6rem;
  line-height: 3rem;
  border-radius: 25px;
  padding: 1.5rem 3rem;
  margin-top: 4rem;
  font-size: 1.4rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: .4rem;
  display: inline-block;
}

#header .button:hover, #header .button:focus {
  color: #05bca9;
  border-color: #05bca9;
}

button.stroke, .button.stroke {
  background: transparent !important;
  border: 3px solid transparent;
  line-height: 4.4rem;
}

#header .secondary-slogan {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1em;
}

#header > .bottom {
  position: absolute;
  bottom: 75px;
  text-align: center;
  width: 100%;
}

#header > .bottom a img {
  width: 50px;
}

#header > .bottom a {
  opacity: 0.7;
}

#header > .bottom a:hover {
  opacity: 1;
}
