html, body {
	height: 100%;

}

.navbar {

}

.jumbotron {
  background: url('../image/intro.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.intro-content {
	padding-top: 25vh;
	text-align: center;
	vertical-align: middle;
}

.jumbotron h1, p {
	color: white;
}

.jumbotron h1 {
	font-size: 4em;
}

.jumbotron p {
	margin-bottom: -20px;
}
