/*////////////////////////////////////////////////////////////////////////
// Recent works
///////////////////////////////////////////////////////////////////////*/
.recent-work {
  width: 100%;
  padding-bottom: 27%;
  background: #C3C9CC;
  display: table;
  text-align: center;
  vertical-align: middle;
  padding-top: 27%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 30px;
}

.recent-work span {
  margin-top: -18px;
  opacity: 0;
  position: relative;
  z-index: 1;
}

.recent-work:before {
  background: rgba(2, 56, 58, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  opacity: 0;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.recent-work:hover {
  background-size: 200%;
  background-position: center;
}

.recent-work:hover:before, .recent-work:hover span {
  opacity: 1;
}
