/*////////////////////////////////////////////////////////////////////////
// Testimonials
///////////////////////////////////////////////////////////////////////*/
ol.carousel-indicators {
  margin-bottom: -50px;
}

#testimonials {
  text-align: center;
}

#testimonials .testimonial {
  padding: 25px;
}

#testimonials .block-heading {
  margin-bottom: 10px;
  padding-bottom: 0;
}

.carousel {
  position: relative;
  margin: 50px 0;
}

.carousel h3 {
  margin: 47px 0 20px;
}
