<!DOCTYPE html>
<html>

<head>
<%- include('../partials/meta'); %>

<link rel="stylesheet" href="/login/stylesheets/bundle.min.css"/>
</head>

<body>

	<div class="login-page">
		<h4>A confirmation email has been sent to your mailbox.
			You will be able to access your dashboard after
			you confirm your email address</h4>
		<p>did not receive an email? <a href='/resend'>click to resend</a></p>
		<p>need to log out? <a href='/auth/logout'>click to logout</a></p>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	        crossorigin="anonymous"></script>

</body>

</html>
