<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/meta', {pageTitle: 'Confirm Your Email'}); %>

	<link rel="stylesheet" href="/login/stylesheets/bundle.min.css"/>
</head>

<body>

	<div class="login-page">
		<h4>A confirmation email has been sent to your mailbox.
			You will be able to access your dashboard after
			you confirm your email address</h4>
		<p>Did not receive an email? <a href='/auth/resend'>click to resend</a></p>
		<p>Want to go back? <a href='/'>back to home page</a></p>
		<p>Need to log out? <a href='/auth/logout'>click to logout</a></p>
	</div>

	<%- include('../partials/common_scripts'); %>
</body>

</html>
