<!DOCTYPE html>
<html>

<head>
<%- include('../partials/meta'); %>

<link rel="stylesheet" href="/login/stylesheets/bundle.min.css"/>
</head>

<body>

	<div class="login-page">
	  <div class="form">
	    <form class="register-form" method="POST" action="/auth/signup" novalidate>
			<h2 class="title">Create an Account</h2>
			<input type="email" name="email" placeholder="Email" />
			<input type="text" name="first_name" placeholder="First Name" />
			<input type="text" name="last_name" placeholder="Last Name" />
			<input type="password" name="password" placeholder="Password" />
			<button type='submit'>Create My Account</button>
			<p class="message">Already registered? <a href="#">Sign In</a></p>
	    </form>
	    <form class="login-form" method="POST" action="/auth/login" novalidate>
			<h2 class="title">Sign In</h2>
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<button type='submit'>Log In</button>
	      	<p class="message">Not registered? <a href="#">Create an account</a></p>
	    </form>
	  </div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	        crossorigin="anonymous"></script>


	<script>
		$('.message a').click(function(){
		   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
		});
	</script>

</body>

</html>
