<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>MentorMap</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <!-- Bootstrap -->
   <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="vendor/Lhander/css/base.css">
   <link rel="stylesheet" href="vendor/Lhander/css/main.css">
   <link rel="stylesheet" href="vendor/Lhander/css/vendor.css">
   <link rel="stylesheet" href="css/indexmodal.css">
   <!-- PNotify -->
   <link href="vendor/pnotify/dist/pnotify.css" rel="stylesheet">
   <link href="vendor/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
   <link href="vendor/pnotify/dist/pnotify.brighttheme.css" rel="stylesheet">
   <link href="vendor/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

   <!-- script
   ================================================== -->
	<script src="vendor/Lhander/js/modernizr.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">
  <div id="indexModal" class="modal">
    <div class="form">

      <ul class="tab-group">
        <li class="tab active"><a id="signup-tab-link" href="#signup">Sign Up</a></li>
        <li class="tab"><a id="login-tab-link" href="#login">Log In</a></li>
      </ul>

      <div class="tab-content">
        <div id="signup">
          <h1>Sign Up for Free</h1>

          <form action="/auth/signup" method="post" novalidate>

          <div class="top-row">
            <div class="item field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" name="first_name" required="required" autocomplete="off" />
            </div>

            <div class="item field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text" name="last_name" required="required" autocomplete="off"/>
            </div>
          </div>

          <div class="item field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" type="email" name="email" required autocomplete="off"/>
          </div>

          <div class="item field-wrap">
            <label>
              Confirm Email Address<span class="req">*</span>
            </label>
            <input type="email" type="email" data-validate-linked='email' required autocomplete="off"/>
          </div>

          <div class="item field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input id="signupPassword" data-validate-length-range="8,25" type="password" name="password" required autocomplete="off"/>
          </div>

          <div class="item field-wrap">
            <label>
              Choose A Role<span class="req">*</span>
            </label>
            <select class="required select2_single" tabindex="-1" name="role" required>
              <option></option>
              <option value='mentee'>I Am A Mentee</option>
              <option value='mentor'>I Am A Mentor</option>
            </select>
          </div>

          <button type="submit" class="button button-block"/>Sign Up!</button>

          </form>

        </div>

        <div id="login">
          <h1>Welcome Back!</h1>

          <form action="/auth/login" method="post" novalidate>

            <div class="item field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" name="email" required autocomplete="on"/>
          </div>

          <div class="item field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" name="password" required autocomplete="on"/>
          </div>

          <p class="forgot"><a href="#">Forgot Password?</a></p>

          <button class="button button-block"/>Log In</button>

          </form>

        </div>

      </div><!-- tab-content -->

    </div> <!-- /form -->
  </div>

	<!-- header
   ================================================== -->
   <header>

   	<div class="row">

   		<div class="logo">
	         <a href="/">MentorMap</a>
	    </div>

	   	<nav id="main-nav-wrap">
				<ul class="main-navigation">
          <li><a class="smoothscroll"  href="#about" title="">About</a></li>
          <li><a class="smoothscroll"  href="#process" title="">Process</a></li>
          <li><a class="smoothscroll"  href="#tutors" title="">Tutors</a></li>
          <li><a class="smoothscroll"  href="#testimonials" title="">Testimomials</a></li>
					<li><a class="smoothscroll"  href="#pricing" title="">Pricing</a></li>
          <li><a class="smoothscroll"  href="#team" title="">Team</a></li>
          <% if (user) { %>
            <li class="highlight with-sep"><a href="/dashboard" title=""><%= user.profile.first_name + ' ' + user.profile.last_name %></a></li>
          <% } else { %>
            <li class="highlight with-sep"><a href="javascript:handleLoginClick();" title="">Log In</a></li>
            <li class="highlight with-sep"><a href="javascript:handleSignupClick();" title="">Sign Up</a></li>
          <% } %>
				</ul>
			</nav>

			<a class="menu-toggle" href="#"><span>Menu</span></a>

   	</div>

   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">

   	<div class="shadow-overlay"></div>

   	<div class="intro-content">
   		<div class="row">


   			<div class="col-twelve">

	   			<div class='video-link'>
	   				<a href="#video-popup"><img src="images/play-button.png" alt=""></a>
	   			</div>

	   			<h5>Don't let dreams be dreams</h5>
          <h1 style="margin-bottom: 0;">MentorMap</h1>
	   			<h2 style="">Mentorship Service for High School Students</h2>

	   			<a class="button stroke smoothscroll" href="#process" title="">Learn More</a>

	   		</div>

   		</div>
   	</div>

   	<!-- Modal Popup
	   ========================================================= -->

      <div id="video-popup" class="popup-modal mfp-hide">

		   <div class="fluid-video-wrapper">
            <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=faec09" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

         <a class="close-popup">Close</a>

	   </div> <!-- /video-popup -->

   </section> <!-- /intro -->

   <!-- About Us
    ================================================== -->
    <section id="about">
        <!-- Begin page header-->
        <div class="row section-intro">
          <div class="col-twelve with-bottom-line">

            <h5>What is MentorMap?</h5>
            <h1>Let Us Introduce Ourselves.</h1>

            <p class="lead">Connecting students uncertain about their futures in university with appropriate mentors imparting valuable firsthand experience</p>

          </div>

        </div>
        <div class="row">

          <div class="block-1-3 block-s-1-2 block-tab-full group">

            <div class="bgrid">

              <img src= "images/01_150x150.png">

              <h2>Academics</h2>

              <p>Our mentors are exclusively high achieving individuals each with unique but proven effective methods of regulation and study. These habits and systems will help you achieve further academic success.</p>

            </div>
            <div class="bgrid">

              <img src= "images/01_150x150.png">

              <h2>Professionalism</h2>

              <p>The real world is full of networking and social graces, and without effective communication skills, one may feel as a grounded bird. Learn tips from experienced mentors in professional interactions.</p>

            </div>
            <div class="bgrid">

              <img src= "images/01_150x150.png">

              <h2>Social Ethics</h2>

              <p>Through all our hard work, the end goal of us all wish the improvement of the social status quo. Hear about stories of passion from mentors who have poured their hearts and efforts in the name of social ethics.</p>

            </div>


          </div> <!-- features-list -->

        </div> <!-- features-content -->
    </section>

    <!-- Process Section
    ================================================== -->
    <section id="process">

     <div class="row section-intro">
       <div class="col-twelve with-bottom-line">

         <h5>The Process</h5>
         <h1>How Does It Work?</h1>

       </div>
     </div>

     <div class="row process-content">

       <div class="left-side">

         <div class="item" data-item="1">

           <h5>Sign Up</h5>

           <p>Sign up and complete the registration form. We'll need this information to match you with mentors</p>

         </div>

         <div class="item" data-item="2">

           <h5>Subscribe</h5>

           <p>Choose a subsciption plan that's right for you. You can choose to subscribe to a monthly plan or pay by session. </p>

         </div>

       </div> <!-- /left-side -->

       <div class="right-side">

         <div class="item" data-item="3">

           <h5>Choose</h5>

           <p>Choose from a list of qualified mentors who closely match your university goals.</p>

         </div>

         <div class="item" data-item="4">

           <h5>Time For Mentoring</h5>

           <p>Start communicating with you mentor! He/she will book mentoring sessions with you over vidoe, phone, or in person!</p>

         </div>

       </div> <!-- /right-side -->

       <div class="image-part"></div>

     </div> <!-- /process-content -->

    </section> <!-- /process-->

   <!-- Tutors Section
   ================================================== -->
   <section id="tutors">

    <div class="row section-intro">
      <div class="col-twelve with-bottom-line">

        <h5>Our Tutors</h5>
        <h1>Meet Our Tutors.</h1>

        <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

      </div>
    </div>

    <div class="row tutors-content">

      <div class="features-list block-1-3 block-s-1-2 block-tab-full group">

        <div class="bgrid feature">

              <div class="service-content">

                <img src= "images/tutors/01.jpg">

                <h3>Kevin Wu</h3>

                <h4>University of Waterloo</h4>

                <h5>Software Engineering</h5>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </p>

            </div>

        </div>

        <div class="bgrid feature">

              <div class="service-content">

                <img src= "images/tutors/02.jpg">

                <h3>Kevin Wu</h3>

                <h4>University of Waterloo</h4>

                <h5>Software Engineering</h5>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </p>

            </div>

        </div>

        <div class="bgrid feature">

              <div class="service-content">

                <img src= "images/tutors/03.jpg">

                <h3>Kevin Wu</h3>

                <h4>University of Waterloo</h4>

                <h5>Software Engineering</h5>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </p>

            </div>

        </div>

        <div class="bgrid feature">

              <div class="service-content">

                <img src= "images/tutors/04.jpg">

                <h3>Kevin Wu</h3>

                <h4>University of Waterloo</h4>

                <h5>Software Engineering</h5>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </p>

            </div>

        </div>

        <div class="bgrid feature">

              <div class="service-content">

                <img src= "images/tutors/05.jpg">

                <h3>Kevin Wu</h3>

                <h4>University of Waterloo</h4>

                <h5>Software Engineering</h5>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </p>

            </div>

        </div>

        <div class="bgrid feature">

              <div class="service-content">

                <img src= "images/tutors/05.jpg">

                <h3>Kevin Wu</h3>

                <h4>University of Waterloo</h4>

                <h5>Software Engineering</h5>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </p>

            </div>

        </div>


      </div> <!-- features-list -->

    </div> <!-- features-content -->

   </section> <!-- /features -->


   <!-- Universities
    ================================================== -->
    <section id="portfolio">
        <!-- Begin page header-->
        <div class="row section-intro">
          <div class="col-twelve with-bottom-line">

            <h5>Our Qualifications</h5>
            <h1>Our Tutors Come From Top Canadian Universities.</h1>

          </div>
        </div>

        <div class="row items">

           <!-- portfolio-wrapper -->
           <div id="portfolio-wrapper" class="block-1-6 block-s-1-4 tab-1-2">

             <div class="bgrid folio-item">
                <div class="item-wrap">
                   <a href="#modal-01">
                     <img src="images/portfolio/york.png">
                      <div class="overlay"></div>
                      <div class="portfolio-item-meta">
                         <h5>University of Waterloo</h5>
                         <p>Best University in Canada</p>
                      </div>
                   </a>
                </div>
             </div> <!-- item end -->
              <div class="bgrid folio-item">
                 <div class="item-wrap">
                    <a href="#modal-01">
  	                  <img src="images/portfolio/waterloo.jpg">
                       <div class="overlay"></div>
                       <div class="portfolio-item-meta">
       					          <h5>University of Waterloo</h5>
                          <p>Best University in Canada</p>
       					       </div>
                    </a>
                 </div>
          		</div> <!-- item end -->
              <div class="bgrid folio-item">
                 <div class="item-wrap">
                    <a href="#modal-01">
                      <img src="images/portfolio/york.png">
                       <div class="overlay"></div>
                       <div class="portfolio-item-meta">
                          <h5>University of Waterloo</h5>
                          <p>Best University in Canada</p>
                       </div>
                    </a>
                 </div>
              </div> <!-- item end -->
              <div class="bgrid folio-item">
                 <div class="item-wrap">
                    <a href="#modal-01">
                      <img src="images/portfolio/waterloo.jpg">
                       <div class="overlay"></div>
                       <div class="portfolio-item-meta">
                          <h5>University of Waterloo</h5>
                          <p>Best University in Canada</p>
                       </div>
                    </a>
                 </div>
              </div> <!-- item end -->
              <div class="bgrid folio-item">
                 <div class="item-wrap">
                    <a href="#modal-01">
                      <img src="images/portfolio/waterloo.jpg">
                       <div class="overlay"></div>
                       <div class="portfolio-item-meta">
                          <h5>University of Waterloo</h5>
                          <p>Best University in Canada</p>
                       </div>
                    </a>
                 </div>
              </div> <!-- item end -->
              <div class="bgrid folio-item">
                 <div class="item-wrap">
                    <a href="#modal-01">
                      <img src="images/portfolio/york.png">
                       <div class="overlay"></div>
                       <div class="portfolio-item-meta">
                          <h5>University of Waterloo</h5>
                          <p>Best University in Canada</p>
                       </div>
                    </a>
                 </div>
              </div> <!-- item end -->
           </div> <!-- end portfolio-wrapper -->
         </div>
    </section>

    <!-- Testimonials Section
    ================================================== -->
    <section id="testimonials">

     <div class="row">
       <div class="col-twelve">
         <h2 class="h01">Hear What Are Clients Say.</h2>
       </div>
     </div>

       <div class="row flex-container">

          <div id="testimonial-slider" class="flexslider">

             <ul class="slides">

                <li>
                 <div class="testimonial-author">
                       <img src="images/avatars/avatar-1.jpg" alt="Author image">
                       <div class="author-info">
                         Steve Jobs
                         <span class="position">CEO, Apple.</span>
                       </div>
                   </div>

                   <p>
                   Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                   to do what you believe is great work. And the only way to do great work is to love what you do.
                   If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                   </p>
               </li> <!-- /slide -->

                <li>

                 <div class="testimonial-author">
                       <img src="images/avatars/avatar-2.jpg" alt="Author image">
                       <div class="author-info">
                         John Doe
                         <span>CEO, ABC Corp.</span>
                       </div>
                   </div>

                   <p>
                   This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                   Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                   nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                   </p>

                </li> <!-- /slide -->

             </ul> <!-- /slides -->

          </div> <!-- /testimonial-slider -->

       </div> <!-- /flex-container -->

    </section> <!-- /testimonials -->


    <!-- features Section
    ==================================================
   <section id="features">

     <div class="row section-intro">
       <div class="col-twelve with-bottom-line">

         <h5>Features</h5>
         <h1>Great features you'll love.</h1>

         <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

       </div>
     </div>

     <div class="row features-content">

       <div class="features-list block-1-3 block-s-1-2 block-tab-full group">

           <div class="bgrid feature">

             <span class="icon"><i class="icon-window"></i></span>

               <div class="service-content">

                  <h3 class="h05">Fully Resposive</h3>

                 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
               </p>

             </div>

         </div>

         <div class="bgrid feature">

           <span class="icon"><i class="icon-eye"></i></span>

               <div class="service-content">
                 <h3 class="h05">Retina Ready</h3>

                 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
               </p>


               </div>

          </div>

          <div class="bgrid feature">

           <span class="icon"><i class="icon-paint-brush"></i></span>

               <div class="service-content">
                 <h3 class="h05">Stylish Design</h3>

                 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                 </p>


               </div>

          </div>

         <div class="bgrid feature">

           <span class="icon"><i class="icon-file"></i></span>

               <div class="service-content">
                 <h3 class="h05">Clean Code</h3>

                 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
               </p>


               </div>

         </div>

          <div class="bgrid feature">

           <span class="icon"><i class="icon-layers"></i></span>

               <div class="service-content">
                 <h3 class="h05">Easy To Customize</h3>

                 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                 </p>


               </div>

          </div>

          <div class="bgrid feature">

           <span class="icon"><i class="icon-gift"></i></span>

               <div class="service-content">
                  <h3 class="h05">Free of Charge</h3>

                 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                 </p>

               </div>

          </div>

         </div>

     </div>

   </section>
    -->

	<!-- pricing
   ================================================== -->

   <section id="pricing">

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>Our Pricing</h5>
   			<h1>Pick the best plan for you.</h1>

   		</div>
   	</div>

   	<div class="row pricing-content">

         <div class="pricing-tables block-1-4 group">

            <div class="bgrid">

            	<div class="price-block">

            		<div class="top-part">

	            		<h3 class="plan-title">Single</h3>
		               <p class="plan-price"><sup>$</sup>9.99</p>
		               <p class="price-month">Per Token</p>

	            	</div>

	               <div class="bottom-part">

	            		<ul class="features">
		                  <li><strong>3GB</strong> Storage</li>
		                  <li><strong>10GB</strong> Bandwidth</li>
		                  <li><strong>5</strong> Databases</li>
		               </ul>

		               <a class="button large" href="">Get Started</a>

	            	</div>

            	</div>

			   </div> <!-- /price-block -->

           <div class="bgrid">

               <div class="price-block">

            		<div class="top-part">

	            		<h3 class="plan-title">Standard Bundle</h3>
		               <p class="plan-price"><sup>$</sup>29.99</p>
		               <p class="price-month">Per 4 Tokens</p>

	            	</div>

						<div class="bottom-part">

	            		<ul class="features">
		                  <li><strong>10GB</strong> Storage</li>
		                  <li><strong>30GB</strong> Bandwidth</li>
		                  <li><strong>15</strong> Databases</li>
		               </ul>

		               <a class="button large" href="">Get Started</a>

	            	</div>

            	</div>

			   </div> <!-- /price-block -->


         <div class="bgrid">

          <div class="price-block primary">

            <div class="top-part" data-info="recommended">

              <h3 class="plan-title">Monthly</h3>
               <p class="plan-price"><sup>$</sup>49.99</p>
               <p class="price-month">Per Month</p>

            </div>

             <div class="bottom-part">

              <ul class="features">
                  <li><strong>5GB</strong> Storage</li>
                  <li><strong>15GB</strong> Bandwidth</li>
                  <li><strong>7</strong> Databases</li>
               </ul>

               <a class="button large" href="">Get Started</a>

            </div>

          </div>

        </div> <!-- /price-block -->

			   <div class="bgrid">

               <div class="price-block">

            		<div class="top-part">

	            		<h3 class="plan-title">Premium Bundle</h3>
		               <p class="plan-price"><sup>$</sup>49.99</p>
		               <p class="price-month">Per 6 Tokens</p>

	            	</div>

						<div class="bottom-part">

	            		<ul class="features">
		                  <li><strong>20GB</strong> Storage</li>
		                  <li><strong>40GB</strong> Bandwidth</li>
		                  <li><strong>25</strong> Databases</li>
		               </ul>

		               <a class="button large" href="">Get Started</a>

	            	</div>

            	</div>

			   </div> <!-- /price-block -->

         </div> <!-- /pricing-tables -->

      </div> <!-- /pricing-content -->

   </section> <!-- /pricing -->

   <!-- Team Section
   ================================================== -->
   <section id="team">

    <div class="row section-intro">
      <div class="col-twelve with-bottom-line">

        <h5>Our Team</h5>
        <h1>Meet Our Awesome Team.</h1>

        <p class="lead">We are a team of university students consisting of aspiring business professionals, software developers and medical doctors.</p>

      </div>
    </div>

    <div class="row">

      <div class="block-1-6 block-s-1-2 block-tab-full group">

        <div class="bgrid">
          <img src= "images/team/kevinwu.png">

          <h3>Gerula 123</h3>

          <h4>League of Legends</h4>

          <h5>Bronze 5</h5>
        </div>
        <div class="bgrid">
          <img src= "images/team/kevinwu.png">

          <h3>Gerula 123</h3>

          <h4>League of Legends</h4>

          <h5>Bronze 5</h5>
        </div>
        <div class="bgrid">
          <img src= "images/team/kevinwu.png">

          <h3>Gerula 123</h3>

          <h4>League of Legends</h4>

          <h5>Bronze 5</h5>
        </div>
        <div class="bgrid">
          <img src= "images/team/kevinwu.png">

          <h3>Gerula 123</h3>

          <h4>League of Legends</h4>

          <h5>Bronze 5</h5>
        </div>
        <div class="bgrid">
          <img src= "images/team/kevinwu.png">

          <h3>Gerula 123</h3>

          <h4>League of Legends</h4>

          <h5>Bronze 5</h5>
        </div>
        <div class="bgrid">
          <img src= "images/team/kevinwu.png">

          <h3>Gerula 123</h3>

          <h4>League of Legends</h4>

          <h5>Bronze 5</h5>
        </div>


      </div> <!-- features-list -->

    </div> <!-- features-content -->

   </section> <!-- /features -->


   <!-- faq
   ==================================================
   <section id="faq">

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>Faq</h5>
   			<h1>Questions and Answers.</h1>

   			<p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

   		</div>
   	</div>

   	<div class="row faq-content">

   		<div class="q-and-a block-1-2 block-tab-full group">

   			<div class="bgrid">

   				<h3>What are the security features?</h3>

   				<p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

   			</div>

   			<div class="bgrid">

   				<h3>How can I update my user profile?</h3>

   				<p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

   			</div>

   			<div class="bgrid">

   				<h3>What features are not included in the free version?</h3>

   				<p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

   			</div>

   			<div class="bgrid">

   				<h3>Can I upgrade my account from Starter to Premium?</h3>

   				<p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

   			</div>

   			<div class="bgrid">

   				<h3>Where can I found all my uploads?</h3>

   				<p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

   			</div>

   			<div class="bgrid">

   				<h3>How long can I use the free trial version?</h3>

   				<p>Lorem ipsum Id in magna ad culpa dolor eu aute non amet aute ea in consectetur in quis nostrud anim proident dolore in sed et mollit voluptate culpa irure consequat laborum ea sint in mollit adipisicing cupidatat.</p>

   			</div>

   		</div>

   	</div>


   	<div class="row section-ads">

		   <div class="col-twelve">

		     	<div class="ad-content">

		     		<h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost.</a></h2>

			      <p class="lead">
			      Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
					Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.

					</p>

					<div class="action">
			         <a class="button large round" href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>
		        	</div>

		     	</div>

			</div>

		</div>




   </section>
           -->

   <!-- cta
   ================================================== -->
   <section id="cta">

   	<div class="row cta-content">

   		<div class="col-twelve">

   			<h1 class="h01">Get started now. Try MentorMap now for free!</h1>

   			<p class="lead">Don't let your dreams be dreams</p>

   			<ul class="stores">
   				<li class="app-store">
   					<a href="#" class="button round large" title="">
   						Sign Up For Free
   					</a>
   				</li>
   			</ul>

   		</div>

   	</div> <!-- /cta-content -->

   </section> <!-- /cta -->


   <!-- footer
   ================================================== -->
   <footer>

   	<div class="footer-main">

   		<div class="row">

	      	<div class="col-four tab-full mob-full footer-info">

	            <div class="footer-logo"></div>

	            <p>
		        	info@mentormap.com<br>
              +1 123-456-789
		        	</p>

		      </div> <!-- /footer-info -->

	      	<div class="col-two tab-1-3 mob-1-2 site-links">

	      		<h4>Site Links</h4>
	      		<ul>
	      			<li><a href="#about">About Us</a></li>
						<li><a href="#process">Process</a></li>
						<li><a href="#tutors">Our Tutors</a></li>
						<li><a href="#testimonials">Testimonials</a></li>
						<li><a href="#pricing">Pricing</a></li>
            <li><a href="#team">Our Team</a></li>
					</ul>

	      	</div> <!-- /site-links -->

	      	<div class="col-two tab-1-3 mob-1-2 social-links">

	      		<h4>Social</h4>

	      		<ul>
	      			<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Dribbble</a></li>
						<li><a href="#">Google+</a></li>
						<li><a href="#">Skype</a></li>
					</ul>

	      	</div> <!-- /social -->

	      	<div class="col-four tab-1-3 mob-full footer-subscribe">

	      		<h4>Subscribe</h4>

	      		<p>Keep yourself updated. Subscribe to our newsletter.</p>

	      		<div class="subscribe-form">

	      			<form id="mc-form" class="group" novalidate="true">

							<input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="type email &amp; hit enter" required="">

			   			<input type="submit" name="subscribe" >

		   				<label for="mc-email" class="subscribe-message"></label>

						</form>

	      		</div>

	      	</div> <!-- /subscribe -->

	      </div> <!-- /row -->

   	</div> <!-- /footer-main -->


      <div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright MentorMap 2017.</span>
		         	<span>Design by <a href="/">Joshua Sun and Bill Qi</a></span>
		         </div>

		         <div id="go-top" style="display: block;">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
		         </div>
	      	</div>

      	</div> <!-- /footer-bottom -->

      </div>

   </footer>

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="vendor/Lhander/js/jquery-1.11.3.min.js"></script>
   <script src="vendor/Lhander/js/jquery-migrate-1.2.1.min.js"></script>
   <script src="vendor/Lhander/js/plugins.js"></script>
   <script src="vendor/Lhander/js/main.js"></script>
   <!-- validator -->
   <script src="vendor/validator/validator.min.js"></script>
   <script src="js/indexmodal.js"></script>
   <!-- PNotify -->
   <script src="vendor/pnotify/dist/pnotify.js"></script>
   <script src="vendor/pnotify/dist/pnotify.buttons.js"></script>
   <script src="vendor/pnotify/dist/pnotify.nonblock.js"></script>


   <!-- validator -->
   <script>

     // initialize the validator function
     validator.message.date = 'not a real date';

     // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
     $('form')
       .on('blur', 'input[required], input.optional, textarea[required], select.required', validator.checkField)
       .on('change', 'select.required', validator.checkField)
       //.on('keypress', 'input[required][pattern]', validator.keypress);

     $('form').submit(function(e) {

      e.preventDefault();

      var submit = true;
      // evaluate the form using generic validaing
      if( !validator.checkAll( $(this) ) ){
        submit = false;
      }

      if ( submit ) {
        this.submit();
      } else {
        return false;
      }

     });

   </script>
   <!-- /validator -->

  <% if (errMsg) { %>
    <script>
    $(function(){
      new PNotify({
        title: 'Error!',
        text: '<%= errMsg %>',
        type: 'error',
        styling: "bootstrap3"
      });
    });
    </script>
  <% } %>

  <% if (successMsg) { %>
    <script>
    $(function(){
      new PNotify({
        title: 'Verify Your Email',
        text: '<%= successMsg %>',
        type: 'Sticky success',
        styling: "bootstrap3"
      });
    });
    </script>
  <% } %>



</body>

</html>
