/*////////////////////////////////////////////////////////////////////////
//  11 - Responsive styles
///////////////////////////////////////////////////////////////////////*/
@media (max-width: 767px) {
  .blog-post {
    margin-bottom: 40px;
  }
  .recent-work {
    background-position: center;
  }
  .recent-work:before {
    opacity: 1;
  }
  .recent-work span {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  #drawer-right {
    padding: 10px 20px;
  }
  #drawer-right .nav-pills > li > a {
    font-size: 17px;
  }
  .nav-stacked > li + li {
    margin-top: 0;
  }
  .nav > li > a {
    padding: 8px 15px;
  }
  #drawer-right .social {
    margin-top: 5px;
  }
  #header {
    background-size: cover;
  }
  .service {
    text-align: center;
  }
}

button.navbar-toggle.collapsed {
  margin-top: 40px;
}
