
/*////////////////////////////////////////////////////////////////////////
// Process
///////////////////////////////////////////////////////////////////////*/

#process {
	background: #FFFFFF;
	padding-top: 6rem;
	padding-bottom: 6rem;
	overflow: hidden;
}
.process-content {
	position: relative;
	text-align: center;
}
.process-content .right-side,
.process-content .left-side,
.process-content .image-part {
	width: 33.33333%;
	font-size: 15px;
	line-height: 27px;
}
.process-content .right-side, .process-content .left-side {
	padding: 0 6% 24px;
	position: absolute;
	top: 0;
}
.process-content .right-side {
	right: 0;
}
.process-content .left-side {
	left: 0;
}
.process-content .image-part {
	margin: 0 auto;
	height: 660px;
	background-image: url("../../images/appdesign.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
}
.process-content .item[data-item]::before {
	background: #38424e;
	color: #FFFFFF;
	border-radius: 100%;
	content: attr(data-item);
	display: inline-block;
	font-size: 18px;
	height: 42px;
	width: 42px;
	line-height: 42px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 1.5rem;
}
.process-content h5 {
	color: #05bca9;
	font-size: 1.6rem;
	line-height: 1.875;
	letter-spacing: .2rem;
	margin-bottom: .3rem;
}
