/*////////////////////////////////////////////////////////////////////////
// tutor section
///////////////////////////////////////////////////////////////////////*/
.portfolio_area{}
.portfolio{}
.portfoloi_top{}
.portfoloi_content_area{}
.portfolio_menu{
  text-align: center;
  overflow: hidden;
  margin-top:22px;
  margin-bottom:48px;
}
.portfolio_menu ul{
  list-style: none outside none;
    text-align: center;
}
.portfolio_menu ul li{
    display: inline-block;
}
.portfolio_menu ul li a{
  color: #363940;
  background: transparent;
    display: inline-block;
    margin: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.portfolio_content{}
.portfolio_single_content{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  margin-bottom:30px;
  overflow:hidden;

}
.portfolio_single_content:hover img{
   -o-transform: scale(2);
   -webkit-transform: scale(2);
   -moz-transform: scale(2);
   -ms-transform: scale(2);
   transform: scale(2);
}
.portfolio_single_content img{
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
  cursor:pointer;
  -moz-transition:all 1s;
  -webkit-transition:all 1s;
  -o-transition:all 1s;
  -ms-transition:all 1s;
  transition:all 1s;
}
.portfolio_single_content .canv{
  width:100% !important;
  height:100% !important;
}
.portfolio_single_content div+div{
  background: none repeat scroll 0 0 rgba(255,255,255,.9);
  bottom: -100%;
  color: #FFC000;
  font-weight: bold;
  left: 0;
  margin: 0;
  min-height: 90px;
  padding:31px 5px 0 10px;
  position: absolute;
  width: 100%;
  z-index: 12;
  border-top:0;
}
/*.portfolio_single_content:hover div+div{bottom: 0;}*/
.portfolio_single_content div{
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  height:100%;
  text-align:center;
  transform:scale(0);
  transition:all .6s;
  opacity:0;
}
.portfolio_single_content:hover div{
  transform:scale(1);
  opacity:1;
}
.portfolio_single_content div a{
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40%;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.portfolio_single_content div span{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.portfolio_content{}
.portfolio_content{
    margin-top: 36px;
    overflow: hidden;
}
